* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  background: #eee;
  background-image: url("https://img.freepik.com/free-vector/flat-design-grid-background_23-2150525345.jpg?t=st=1709648809~exp=1709652409~hmac=2e902185457bcbcf3b399e339124757b06b00a8f9edb41deae1be8dab8341c11&w=996");
  padding: 0 16px;
  background-blend-mode: lighten;
}

header {
  background-color: #ffd500;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

header h1 {
  color: #000000;
  font-family: "McLaren", cursive;
  font-weight: 300;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #000000;
}

.note {
  background: #ffffff;
  border-radius: 7px;
  box-shadow: 0 2px 10px #9f9f9f;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  background-color: #fff;
  margin-right: 25px;
  color: #ffd500;
  border: #000000;
  width: 35px;
  height: 30px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #ffffff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(147, 146, 146);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #ffd500;
  color: #fff;
  border: none;
  border-radius: 20%;
  width: 45px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  outline: none;
}